<div class="container mt-2">
    <div class="row d-flex justify-content-center">
        <div *ngIf="showLoadingPage" class="vh-100 d-flex align-items-center">
            <div class="loader m-auto"></div>
        </div>

        <div *ngIf="!showLoadingPage" class="col-lg-6 col-12">
            <h3 class="my-4">Create an account</h3>
            <div *ngIf = "showMessage">
                <div class="alert alert-{{showMessageColor}}">{{registerRemark}}</div>
            </div>
            <div class="form-area mb-4">
                <form class="rounded p-3" #register_form = 'ngForm' (ngSubmit) = "onSubmit(register_form)">
                    <div class="row">
                        <div class="mb-3 col-sm-6 col-12">
                            <label for="usernameInput" class="form-label">Username</label>
                            
                            <input type="text" 
                            class="form-control" 
                            id="usernameInput" 
                            aria-describedby="usernameHelp" 
                            name="username" 
                            ngModel
                            noSpaceInclude
                            startsWithAlphabet
                            #username ='ngModel' 
                            
                            required
                            [ngClass] = "{'is-invalid':username.touched && username.invalid}"
                            minlength="5"
                            maxlength="10"
                            >
            
                            <div *ngIf="username.hasError('required')" class="m-0 p-0">
                                <div  *ngIf = "username.touched && username.invalid"> <p class="text-danger m-0 fs-7"> * Username is required.</p> </div>
                            </div>
                            <div *ngIf="username.hasError('minlength')" class="m-0 p-0">
                                <div *ngIf = "username.touched && username.invalid"> <p class="text-danger  m-0 fs-7"> * Username must at be atleast 5 characters.</p> </div>
                            </div>
                            <div *ngIf = "username.hasError('noSpaceInclude')" class="m-0 p-0">
                                <div *ngIf = "username.touched && username.invalid"> <p class="text-danger  m-0 fs-7"> * Username cannot contain spaces.</p> </div>
                            </div>
                            <div *ngIf = "username.hasError('startsWithAlphabet')" class="m-0 p-0">
                                <div *ngIf = "username.touched && username.invalid"> <p class="text-danger  m-0 fs-7"> * Username cannot start with numbering.</p> </div>
                            </div>
                            
                        </div>
                        <div class="mb-3 col-sm-6 col-12">
                            <label for="emailInput" class="form-label">Email address</label>
                            <input type="email" 
                            class="form-control" 
                            id="emailInput" 
                            aria-describedby="emailHelp" 
                            name="email" 
                            ngModel
                            #email= 'ngModel'
                            [ngClass] = "{'is-invalid':email.touched && email.invalid}"
                            pattern='[a-z0-9._%+\\-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
                            required
                            >
            
                        <div *ngIf = "email.hasError('required')">
                            <div  *ngIf = "email.touched && email.invalid"> <p class="text-danger  fs-7"> Email is required.</p> </div>
                        </div>
                        
                        <div *ngIf = "email.hasError('pattern')">
                            <div  *ngIf = "email.touched && email.invalid"> <p class="text-danger  fs-7"> Invalid email address.</p> </div>
                        </div>
            
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-6 col-12">
                            <label for="fullnameInput" class="form-label">Full Name</label>
                            <input type="text" 
                            class="form-control" 
                            id="fullnameInput" 
                            name="fullname" 
                            noNumberInclude
                            ngModel 
                            #fullname="ngModel" 
                            [ngClass] = "{'is-invalid':fullname.touched && fullname.invalid}"
                            required>
            
                            <div *ngIf = "fullname.hasError('required')">
                                <div  *ngIf = "fullname.touched && fullname.invalid"> <p class="text-danger  fs-7"> Fullname is required.</p> </div>
                            </div>
            
                            <div *ngIf = "fullname.hasError('noNumberInclude')">
                                <div  *ngIf = "fullname.touched && fullname.invalid"> <p class="text-danger  fs-7"> Fullname cannot containt with number.</p> </div>
                            </div>
            
                        </div>
                        <div class="mb-3 col-sm-6 col-12">
                            <label for="phoneNumberInput" class="form-label">Phone Number</label>
                            <input type="text" 
                            class="form-control" 
                            id="phoneNumberInput" 
                            name="phone_number" 
                            ngModel
                            #phone_number = "ngModel"
                            pattern="^\+60\d{9,10}$"
                            [ngClass] = "{'is-invalid':phone_number.touched && phone_number.invalid}"
                            required
                            >
            
                            <div *ngIf = "phone_number.hasError('required')">
                                <div  *ngIf = "phone_number.touched && phone_number.invalid"> <p class="text-danger  fs-7"> Phone number is required.</p> </div>
                            </div>
                            
                            <div *ngIf = "phone_number.hasError('pattern')">
                                <div  *ngIf = "phone_number.touched && phone_number.invalid"> <p class="text-danger  fs-7"> Phone number must start with +60 followed by 9 to 10 digits..</p> </div>
                            </div>
            
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" 
                        class="form-control" 
                        id="passwordInput" 
                        name="password" 
                        ngModel 
                        #password = "ngModel"
                        (input) = 'checkPasswordFormat(password)'
                        [ngClass] = "{'is-invalid':password.touched && password.invalid}"
                        required
                        >
        
                    <div *ngIf = "password.hasError('required')">
                        <div  *ngIf = "password.touched && password.invalid"> <p class="text-danger fs-7"> Password is required.</p> </div>
                    </div>
                    <p class=" m-0 fs-7" [ngClass] = "hasUpperCase ? 'text-success' : 'text-danger'"> * Must atleast one uppercase.</p> 
                    <p class=" m-0 fs-7" [ngClass] = "hasLowerCase ? 'text-success' : 'text-danger'"> * Must atleast one lowercase.</p> 
                    <p class=" m-0 fs-7" [ngClass] = "hasDigit ? 'text-success' : 'text-danger'"> * Must atleast one digit.</p> 
                    <p class=" m-0 fs-7" [ngClass] = "hasSpecialChar ? 'text-success' : 'text-danger'"> * Must atleast one special character.</p> 
                    <p class=" m-0 fs-7" [ngClass] = "hasFiveLen ? 'text-success' : 'text-danger'"> * Must alteast has 5 characters.</p> 
                
                    </div>
                    <div class="mb-3">
                        <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                        <input type="password" 
                        class="form-control" 
                        id="confirmPasswordInput" 
                        name="confirm_password" 
                        #confirm_password = "ngModel"
                        (input) = 'matchPassword(password, confirm_password)'
                        ngModel
                        required
                        [ngClass] = "{'is-invalid':confirm_password.touched && confirm_password.invalid}"
                        [disabled] = !isPasswordValid
                        >
        
                        <div *ngIf = "confirm_password.touched && !isPasswordMatch">
                            <p class=" m-0 text-danger fs-7"> Password not matched</p> 
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-around">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg" [disabled] = 'register_form.invalid || !isPasswordMatch || !isPasswordValid' >Register</button>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger btn-lg" >Sign in</button>
                            <p class="m-0 fs-7 text-info fst-italic">** If already has account</p>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>
