<ng-template #updateForm>
    <app-register-page 
    [dashboardTitle]="title" 
    [dbUsername] = "username"
    [dbEmail] = "email"
    [dbFullname] = "fullname"
    [dbPhonenumber] = "phonenumber"
    [bgColor]="updateBG"
    [updateMessage]="updateMessage"
    [updateStatus]="updateStatus"
    (formSubmitted)="onChildFormUpdate($event)"
    (formDeleted)="onChildFormDelete()"
    (btnLogout)="onLogout()">
    </app-register-page>
  
    <button #myModal [hidden]="true" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
    
    <!-- Modal -->
    <div class="modal modal-sm fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Identity Check</h1>
            <button #closeBtnModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form #identity_form = 'ngForm' (ngSubmit) = onSubmit(identity_form)>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Current Password</label>
                    <input type="password" 
                    class="form-control" 
                    id="exampleInputPassword1"
                    name="current_password"
                    ngModel
                    [(ngModel)] = "current_password_input"
                    #current_password ='ngModel' 
                    [ngClass] = "{'is-invalid': current_password.touched && current_password.invalid}"
                    required
                    >
  
                    <div *ngIf="current_password.hasError('required')" class="m-0 p-0">
                      <div  *ngIf = "current_password.touched && current_password.invalid"> <p class="text-danger fw-bold m-0 fs-7">Please enter your currect password</p> </div>
                  </div>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="identity_form.invalid">Submit</button>
                </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div *ngIf = "isAdminView; else updateForm">
    <div class="container mt-3">
      <div class="d-flex justify-content-between my-3">
        <h3>List of clients</h3>
        <button type="submit" class="btn btn-danger" (click)="onLogout()" >Logout</button>
      </div>
      <div class="table-responsive-lg">
        <table #clientListTable class="table table-light table-striped ">
          <thead>
            <tr>
              <th #username class="column_head" scope="col" (click)="onClickColumnHeader(username)">Username</th>
              <th #email  class="column_head" scope="col" (click)="onClickColumnHeader(email)">Email</th>
              <th #fullname class="column_head" scope="col" (click)="onClickColumnHeader(fullname)">Full Name</th>
              <th #phone_number class="column_head" scope="col" (click)="onClickColumnHeader(phone_number)">Phone Number</th>
              <th #active class="column_head" scope="col" (click)="onClickColumnHeader(active)">Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.fullname }}</td>
              <td>{{ user.phone_number }}</td>
              <td>{{ user.active }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="d-flex justify-content-end mb-3">
      <div class="d-flex justify-content-between">
        <div class="mx-3">
          <button class="btn" [ngClass] = "!previousAvailable ? 'btn-light' : 'btn-primary'" (click)="previousBtn()" [disabled] = "!previousAvailable">Previous</button>
        </div>
        <div>
          <button class="btn" [ngClass] = "!nextAvailable ? 'btn-light' : 'btn-primary'" (click)="nextBtn()" [disabled] = "!nextAvailable">Next</button>
        </div>
      </div>
    </div>
    </div>
  </div>
